<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChainTracer</title>
    <link rel="stylesheet" th:href="@{/css/Layout.css}">
</head>
<body>
    <h1 class="title">ChainTracer<span id="blink">_</span></h1>
    <hr/>
    <ul>
        <table>
            <tr>
                <th>Id</th>
                <th>Hash</th>
                <th>Previous Block</th>
                <th>Previous Hash</th>
                <th>Transactions</th>
            </tr>
            <tr th:each="block : ${blocks.findAll()}" th:attr="data-value=${block.id}">
                <td th:text="${block.getId()}">id</td>
                <td th:text="${block.getHash()}">hash</td>
                <td th:text="${block.getPreviousBlock()}">previousBlock</td>
                <td th:text="${block.getPreviousHash()}">previousHash</td>
                <td th:text="${block.getTransactions().size()}">transactionsAmount</td>
            </tr>
        </table>

    </ul>
</body>
</html>